<main class="container">
  <div class="spacer"></div>
  <h1 class="accent-font center-align heading">Sign up for our catalog</h1>
  <h3 class="text-font center-align flow-text">Just enter your email below and hit the <span class="red-text text-accent-3">Big Red Button</span>. Within seconds, our entire world of delicious baked goods will be at your fingertips!</h3>
  <form action="/catalog" method="get">
    <input class="text-field" type="email" placeholder="johndoe@example.com">
    <div class="row">
        <input class="call-to-action col s4 offset-s4 red accent-3" type="submit" name="submit" value="Send me the catalog!">
    </div>
  </form>
</main>
