<main class="container">
<h1 class="accent-font heading center-align">Our cookies</h1>
  <div class="row">
    <% cookies.each do |cookie| %>
      <%= erb :_card, locals: {item: cookie}%>  
    <% end %>
  </div>
</main>