<main id="bg-image">
  <div class="container">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="row">
      <h1 class="vanilla-text accent-font center-align heading" id="tagline">The Sweetest Place on Earth</h1>
    </div>
    <div class="row">
      <a href="/catalog"><button class="call-to-action col s4 offset-s4 red accent-3">Get the catalog</button></a>
    </div>
  </div>
</main>