<main id="bg-image">
  <div class="container">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="row">
      <h1 class="vanilla-text accent-font center-align" id="tagline">The Sweetest Place on Earth</h1>
    </div>
  </div>
</main>