<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Friendly Bakery</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body class="cake">
  <header>
    <nav class="chocolate">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo logo-font frosting-text">Zia's Bakery</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="accent-font"><a href="/cakes">Cakes</a></li>
          <li class="accent-font"><a href="/cookies">Cookies</a></li>
          <li class="accent-font"><a href="/muffins">Muffins</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <%= yield %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>