<main class="container">
<h1 class="accent-font heading center-align  chocolate-text">Our muffins</h1>
  <div class="row">
    <% muffins.each do |muffin| %>
      <%= erb :_card, locals: {item: muffin}%>  
    <% end %>
  </div>
</main>