@import "colors";
@import "typography";

body {
  font-size: 12px;
}

nav {
  height: 100px;
}

.brand-logo {
  margin-left: 30px !important;
  margin-top: 10px !important;
  font-size: 4em !important;
}

#nav-menu {
  margin-right: 30px !important;
  margin-top: 10px !important;
}

.menu-button {
  font-size: 2em !important;
}

.menu-button:hover {
  color: $frosting;
}

#bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(black,0.5), rgba(black,0.5)), url("/images/bakery_bg.jpg");
  background-color: $cake;
  background-size: cover;
  background-repeat: no-repeat;
}

.spacer {
  height: 15vh;
}

.heading {
  font-size: 5rem;
}

.card-header {
  background-color: rgba($chocolate, 0.5);
  border-top-right-radius: 10px;
}

.card-reveal-header {
  border-radius: 10px;
  text-align: center;
}

.text-field {
  background-color: white;
  height: 50px;
}

.call-to-action {
  @extend .accent-font;
  font-size: 2em;
  color: $vanilla;
  border: none;
  border-radius: 10px;
  padding: 10px !important;
}

.call-to-action:hover {
  background-color: red !important;
  cursor: pointer;
}

.call-to-action:active {
  background-color: darkred !important;
}