// main fonts
// Logo font
@import url('https://fonts.googleapis.com/css?family=Pacifico|Courgette|Architects+Daughter');

.logo-font {
  font-family: 'Pacifico', cursive;
}

.accent-font {
  font-family: 'Courgette', cursive;
}

.text-font {
  font-family: 'Architects Daughter', cursive;
}
